exclude: "docs|.git|.tox"
default_stages: [commit]
default_language_version:
  python: python3.9
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: ["reqless", "qmore", "reqless_test"]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8p
        args: ["reqless", "qmore", "reqless_test"]
        types: [python]
        additional_dependencies:
          - darglint
          - dlint
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-spellcheck
          - flake8-typing-imports
          - mccabe
          - pep8-naming
      - id: mypy
        name: Mypy check
        entry: mypy
        language: system
        args: ["reqless", "qmore", "reqless_test"]
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        args: ["reqless", "qmore", "reqless_test"]
        language: system
      - id: removestar
        name: removestar
        language: system
        entry: removestar
        args: ["-i", "reqless", "qmore", "reqless_test"]
        types: [python]
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [check, --policy-file=.safety-policy.yaml, --full-report, --file]
        language: system
        files: requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: reqless/lua|reqless/qless-core
      - id: end-of-file-fixer
        exclude: README.md|reqless/lua|reqless/qless-core
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: factories.py
      - id: requirements-txt-fixer
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-toml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-ast
      - id: check-symlinks

#      - id: safety-development-dependencies-check
#        name: Safety development dependencies check
#        entry: safety
#        args: [check, --full-report, --file]
#        language: system
#        files: requirements/development.txt
