name: Style, test, and build package

on:
  push:
    branches-ignore: [main]

jobs:
  style-test-and-build:
    name: Style, test, and build package
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y redis-server
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Check requirements.txt is up to date
        run: |
          source venv/bin/activate
          pip install .[all]
          pip uninstall -y reqless
          pip freeze > requirements.txt
          if ! `git diff --quiet`; then
            echo "pip freeze caused file changes, failing!"
            exit 1
          fi

      - name: Check style
        run: |
          source venv/bin/activate
          make style
          if ! `git diff --quiet`; then
            echo "make style caused file changes, failing!"
            exit 1
          fi

      - name: Run tests and build package
        run: |
          source venv/bin/activate
          make nose
          coverage report
          python -m build
